<div class="container" [formGroup]="myfb">
  <h2
    style="
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 10px;
    "
  >
    Register your Vehicle
  </h2>
  <div
    class="row jumbotron"
    style="border-radius: 30px; box-shadow: 12px 12px 22px grey"
  >
    <div class="col-md-4">
      <label for="inputname"> Firstname</label>
      <input
        type="text"
        class="form-control"
        placeholder="Firstname"
        formControlName="firstname"
      />
    </div>
    <div class="col-md-4">
      <label for="inputname"> Lastname</label>
      <input
        type="text"
        class="form-control"
        placeholder="Lastname"
        formControlName="lastname"
      />
    </div>
    <div class="col-md-4">
      <label for="inputname">Vehicle Passing Date</label>
      <input
        type="date"
        class="form-control"
        placeholder="Registraion Date"
        formControlName="passdate"
      />
    </div>
    <div class="col-md-4">
      <label for="inputname"> Gender</label>
      <select
        type="select"
        class="form-control"
        placeholder="Gender"
        formControlName="gender"
      >
        <option>Male</option>
        <option>Female</option>
        <option>Others</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputname"> Mobile Number</label>
      <input
        type="text"
        class="form-control"
        placeholder="Mobile Number"
        formControlName="phone"
      />
    </div>

    <div class="col-md-4">
      <label for="inputname"> E-mail</label>
      <input
        type="email"
        class="form-control"
        placeholder="E-mail"
        formControlName="email"
      />
    </div>

    <div class="col-md-4">
      <label for="inputname">Vehicle Registration Number</label>
      <input
        type="text"
        class="form-control"
        placeholder="Registration Number"
        formControlName="vrnum"
      />
    </div>
    <div class="col-md-4">
      <label for="inputname">Engine Number</label>
      <input
        type="text"
        class="form-control"
        placeholder="Engine Number"
        formControlName="engnum"
      />
    </div>
    <div class="col-md-4">
      <label for="inputname">Chassis Number</label>
      <input
        type="text"
        class="form-control"
        placeholder="Chassis Number"
        formControlName="chassisnum"
      />
    </div>
    <div class="col-md-4">
      <label for="inputname">password</label>
      <input
        type="password"
        class="form-control"
        placeholder="password"
        formControlName="password"
      />
    </div>
    <div class="col-md-4">
      <label for="inputname">Current Address</label>
      <input
        type="text"
        class="form-control"
        placeholder=" Current Address"
        formControlName="cadd"
      />
    </div>
    <div class="col-md-4">
      <label for="inputname">Permenant Address</label>
      <input
        type="text"
        class="form-control"
        placeholder=" Permenant Address"
        formControlName="padd"
      />
    </div>

    <div class="col-md-4">
      <label for="inputname"> City</label>
      <input
        type="text"
        class="form-control"
        placeholder="City"
        formControlName="city"
      />
    </div>
    <div class="col-md-4">
      <label for="inputname"> State</label>
      <input
        type="Text"
        class="form-control"
        placeholder="State"
        formControlName="state"
      />
    </div>

    <div class="col-md-4">
      <label for="inputname"> Pin Code</label>
      <input
        type="text"
        class="form-control"
        placeholder="Pin Code"
        formControlName="pincode"
      />
    </div>
    <div class="col-md-12" style="text-align: center; margin-top: 20px">
      <button
        class="btn btn-primary btn-lg"
        [disabled]="!myfb.valid"
        (click)="getinfo()"
      >
        Register
      </button>
    </div>
    <!--alert message-->
    <div class="alert alert-danger" role="alert" *ngIf="success">
      Registration Successfull
    </div>
  </div>
</div>
